.logo{
    margin-top: 100px;
    margin-bottom: 20px;
}
.logo img{
    height: 25%;
    width: 25%;
    display: block;
    margin: 0 auto;
}

.search input{
    border-radius: 0;
    font-size: 18px;
    font-weight:500;
    color: #929EA9;
}
.form-inputs{
    position: relative;
    box-shadow: 0 0 12px 0 #B8B8B8;
}
.form-inputs select{
    border-radius: 0;
    font-size: 18px;
    color: #000000;
    font-weight: 500;
    width: 200px;
}

.form-inputs img {
    position: absolute;
    right: 20px;
    top: 20px;
    height:24px;
    width: 24px;
}